# ==========================================
# TEMPLATE ENVIRONMENT UNTUK SERVER PRODUKSI
# (Ganti nama file ini menjadi .env di server)
# ==========================================

# Konfigurasi Database (Wajib disinkronkan dengan volume)
DB_NAME=cakra
DB_PASSWORD=cakra

# Konfigurasi Backend
JWT_SECRET=rahasia_jwt_produksi
